################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmazonSimulator VS/.vs/AmazonSimulator VS
/AmazonSimulator VS/AmazonSimulator VS/obj/Debug/netcoreapp2.0
/AmazonSimulator VS/AmazonSimulator VS/Models/RobotTasks.cs
